/* gör så man inte kan markera text */
*,
*::before,
*::after {
  user-select: none;
  touch-action: none;
}

body {
  height: 900px;
  background-image: linear-gradient(#f98ad8, #cc99ff);
  overflow: hidden;
}

.score {
  position: absolute;
  font-size: 3vmin;
  right: 1vmin;
  top: 1vmin;
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  bottom: -65px;
  width: 1930px;
  height: auto;
  position: absolute;
  left: -15px;
  z-index: -1;
}

#character {
  position: absolute;
  bottom: 30px;
  width: 150px;
  height: auto;
  right: calc(100% - 150px);
  z-index: 1;
  left: 0;
}

#game {
  width: 100%;
  height: 100vh;
  position: relative;
}

.obstacle {
  background-image: url(/img/bolt.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: auto;
  bottom: 30px;
  right: 0;
  position: absolute;
}
