* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  user-select: none;
  margin: 0%;
}

body {
  height: 900px;
  background-image: linear-gradient(#f98ad8, #cc99ff);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "left right";
}

#headline{
  width: 100%;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-top: -150px;
}

.container {
  justify-self: center;
  align-self: center;
  grid-area: left;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 40px;
  grid-area: left;
  margin-left: 50px;
}

#again{
    border-radius: 20px;
    padding: 10px 24px;
    background-color:#ffffff;
    border: 10px;
    color: #f98ad8;
    font-size: 40px;
    border: 2px solid rgb(138, 81, 149);
}

#exit{
    font-size: 20px;
    background-color:#f98ad8;
    border-radius: 20px;
    padding: 10px 10px;
    border: 2px solid rgb(138, 81, 149);
    color: #ffffff;
}

#again:hover{
    background-color: #1a5ca8;
    color: white;
    border-color:#1a5ca8;
}

#exit:hover{
    background-color: #1a5ca8;
    color: white;
    border-color:#1a5ca8;
}

#score-container {
  font-size: 35px;
  color: rgb(138, 81, 149);
  display: flex;
  justify-content: center;
  grid-area: left;
  margin-left: 50px;
}

.leaderboard {
  width: 50%;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-size: 1.5em;
  grid-area: right;
}

#input,#button {
  margin: 10px;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px;
  background-color:#ffffff;
  border: 10px;
  color: #f98ad8;
  border: 2px solid rgb(138, 81, 149);
}

#button:hover{
  background-color: #1a5ca8;
  color: white;
  border-color:#1a5ca8;
}

#names {
  font-family: Arial, Helvetica, sans-serif;
  background-color:white;
  border-radius: 10px;
  width: 100%;
  justify-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

span {
  margin: 20px;
}